<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <main>
        <!-- Barcode scanner part -->
        <section>
            <nav>
                <h2>
                    Scan a barcode
                </h2>
                <a id="close_button" href="/"></a>
            </nav>
            <div id="video"></div>
        </section>
        <div id="loader" class="hidden"></div>
    </main>
</body>

</html>