<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <h1>FOODIE SCANNER</h1>
        <p id="zero_state">Scan your first barcode.</p>
        <a href="/barcode" id="start_scan" class="scan_button">
            <img src="/barcode.png" alt="Barcode icon">
            Scan code
        </a>
        <a href="/search" id="start_scan" class="scan_button">
            <img src="/barcode.png" alt="Barcode icon">
            Search code
        </a>
    </header>
</body>

</html>