<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <h1>Offline</h1>
        <p>U heeft geen netwerkverbinding. Probeer het later nog eens</p>
        <a id="refresh" class="scan_button" href="/barcode">Refresh</a>
    </header>

</body>

</html>